<div class="row no-gutters" style="height: 100%;">
    <div class="panelLeft col-sm-6">


        <div id="headerBar">
            <a routerLink="/" class="logo pull-left">
                <span>Ɱ</span>ail
            </a>

            <div class="actions pull-right form-inline" style="white-space: nowrap">
                <div  *ngIf="!route" class="dropdown">
                    <button title="Paramètres" class="btn btn-light dropdown-toggle" type="button" id="settings" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class="fa fa-cog"></i>
                    </button>
                    <div class="dropdown-menu" aria-labelledby="settings">
                      <li class="dropdown-item"  (click)="userSettings(user, $event)" *ngFor="let user of blacklistUsers">
                        {{user ? user : 'Anonymous'}}
                        <span class="fa {{blacklist[user] == 1 ? 'fa-times' : 'fa-check'}}"></span>
                      </li>
                    </div>
                </div>

                <input placeholder="Search.."
                       type="text"
                       class="form-control"
                       [value]="search"
                       (input)="search = $event.target.value; applyFilter()"
                >
                <button class="btn btn-warning" (click)="selectionDelete()" [disabled]="(filteredMails | filter : 'selected' : true).length == 0">Delete</button>
                <button class="btn btn-danger" (click)="deleteAll()">Delete All</button>
                <button class="btn btn-dark" (click)="selectionSetUnread()" [disabled]="(filteredMails | filter : 'selected' : true).length == 0">Set unread</button>
                <button class="btn btn-success" (click)="selectionSetRead()" [disabled]="(filteredMails | filter : 'selected' : true).length == 0">Set read</button>
            </div>
            <br clear="both" />
        </div>

        <div *ngIf="wsConnected == false" class="alert alert-danger col-xs-8" style="margin: 20px">
            Could not establish connection to the mail server
        </div>

        <ngb-tabset class="mails" id="test" type="pills" (tabChange)="userChange($event)">
            <ngb-tab *ngFor="let user of users" id="tabUsers_{{user}}">
              <ng-container *ngIf="blacklist[user ? user : '__Anonymous'] != 1  || user == route ">
                <ng-template ngbTabTitle>
                    <i>{{user ? user : 'Anonymous'}}</i>
                    ({{ (mails | filter : 'user' : user | filter : 'read' : false).length }}/{{ (mails | filter : 'user' : user).length }})
                    <i *ngIf="user" class="fa {{notifications[user] == 1 ? 'fa-bell' : 'fa-bell-slash'}} notifications" id="{{user}}" (click)="notificationsClick(user)"></i>
                    <i *ngIf="!user" class="fa {{notifications['__Anonymous'] == 1 ? 'fa-bell' : 'fa-bell-slash'}} notifications" id="__Anonymous" (click)="notificationsClick('__Anonymous')"></i>
                </ng-template>

                <ng-template ngbTabContent>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Subject</th>
                                <th></th>
                                <th>From</th>
                                <th>To</th>
                                <th>Date</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr *ngFor="let mail of filteredMails"
                                [class.isNew]="!mail.read"
                                [class.isSelected]="mail.selected"
                                (click)="mailClick(mail, $event)"
                                >
                                <td>{{mail.subject }}</td>
                                <td>
                                    <span *ngIf="mail.attachments?.length">
                                        <i class="fa fa-paperclip"></i>
                                    </span>
                                </td>
                                <td>{{mail.from.name}} &lt;{{mail.from.address}}&gt;</td>
                                <td>
                                    <ul>
                                        <li *ngFor="let to of mail.to">{{to.name}} &lt;{{to.address}}&gt;</li>
                                    </ul>
                                </td>
                                <td>{{mail.date | date:'dd/MM/yyyy HH:mm:ss'}}</td>
                            </tr>
                        </tbody>
                    </table>
                </ng-template>
              </ng-container>
            </ngb-tab>

        </ngb-tabset>
    </div>
    <div class="panelViewMail col-sm-6">
        <app-mail-view [mail]="lastMail" (onEvent)="onChildEvent($event)"></app-mail-view>
    </div>
</div>

