<div>
    <div class="mailView" *ngIf="mail != null">
         <div class="mailHeader">

            <div class="pull-right">
                <b>Date: </b>
                {{mail.date | date:'dd/MM/yyyy HH:mm:ss'}}

                <div class="actions">
                    <button class="btn btn-light" (click)="showDeliverPopup(popupDeliver, mail)">Deliver / Forward to..</button>
                </div>
            </div>



            <div>
                <b>From: </b> {{mail.from.name}} &lt;{{mail.from.address}}&gt;
            </div>
            <div>
                <b>Subject: </b> {{mail.subject}}
            </div>
            <div>
                <b>To: </b>
                <span *ngFor="let to of mail.to; last as isLast">
                    {{to.name}} &lt;{{to.address}}&gt;<span *ngIf="!isLast">, </span>
                </span>
            </div>
            <div *ngIf="mail.cc">
                <b>CC: </b>
                <span *ngFor="let cc of mail.cc; last as isLast">
                    {{cc.name}} &lt;{{cc.address}}&gt;<span *ngIf="!isLast">, </span>
                </span>
            </div>
            <div *ngIf="mail.bcc">
                <b>BCC: </b>
                <span *ngFor="let bcc of mail.bcc; last as isLast">
                    {{bcc.name}} &lt;{{bcc.address}}&gt;<span *ngIf="!isLast">, </span>
                </span>
            </div>
            <div *ngIf="(mail.attachments | exclude : 'contentDisposition' : 'inline' ).length">
                <b>Attachments: </b>
                <span *ngFor="let att of mail.attachments | exclude : 'contentDisposition' : 'inline'; last as isLast">
                    <a target="_blank" href="{{generateAttachmentLink(mail.id, att.contentId, att.fileName)}}">{{att.fileName}}</a> ({{att.length | sizeConvert}})<span *ngIf="!isLast">, </span>
                </span>
            </div>
            <div *ngIf="(mail.attachments | filter : 'contentDisposition' : 'inline' ).length">
                <b>Inline Attachments: </b>
                <span *ngFor="let att of mail.attachments | filter : 'contentDisposition' : 'inline'; last as isLast">
                    <a target="_blank" href="{{generateAttachmentLink(mail.id, att.contentId, att.fileName)}}">{{att.fileName}}</a> ({{att.length | sizeConvert}})<span *ngIf="!isLast">, </span>
                </span>
            </div>
        </div>

        <div class="mailBodyContainer">

            <ngb-tabset class="mailContent">
                <ngb-tab>
                    <ng-template ngbTabTitle>HTML</ng-template>

                    <ng-template ngbTabContent>
                        <div class="mailContentBody" [innerHTML]="mail.html ? (mail.html | mailFilter : mail | safe : 'html') : null"></div>
                    </ng-template>
                </ngb-tab>


                <ngb-tab>
                    <ng-template ngbTabTitle>Text</ng-template>

                    <ng-template ngbTabContent>
                        <div class="mailContentBody mailContentBody-text">
                            {{mail.text}}
                        </div>
                    </ng-template>
                </ngb-tab>

                <ngb-tab>
                    <ng-template ngbTabTitle>Headers</ng-template>

                    <ng-template ngbTabContent>
                        <div class="mailContentBody">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Value</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let header of mail.headers">
                                        <td>{{header.name}}</td>
                                        <td>{{header.value}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </ng-template>
                </ngb-tab>

            </ngb-tabset>

        </div>
    </div>
</div>


<ng-template #popupDeliver let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">Deliver / Forward to</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <p>
            This mail will be delivered:
        </p>

        <div class="form-check" *ngFor="let to of mail.to">
             <label class="form-check-label">
                <input class="form-check-input" type="checkbox" [checked]="to.deliveryEnabled" (change)="to.deliveryEnabled = !to.deliveryEnabled">
                <span class="gray">To:</span>
                {{to.name}} &lt;{{to.address}}&gt;
            </label>
        </div>
        <div class="form-check" *ngFor="let cc of mail.cc">
             <label class="form-check-label">
                <input class="form-check-input" type="checkbox" [checked]="cc.deliveryEnabled" (change)="cc.deliveryEnabled = !cc.deliveryEnabled">
                <span class="gray">CC:</span>
                {{cc.name}} &lt;{{cc.address}}&gt;
            </label>
        </div>
        <div class="form-check" *ngFor="let bcc of mail.bcc">
             <label class="form-check-label">
                <input class="form-check-input" type="checkbox" [checked]="bcc.deliveryEnabled" (change)="bcc.deliveryEnabled = !bcc.deliveryEnabled">
                <span class="gray">BCC:</span>
                {{bcc.name}} &lt;{{bcc.address}}&gt;
            </label>
        </div>
        <hr />
        <div class="form-group">
            <label>Send to another address: </label>
            <input type="email" class="form-control" [value]="externalSendAddress" (input)="externalSendAddress = $event.target.value;" />
        </div>


    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Cancel</button>
        <button type="button" class="btn btn-success" (click)="deliverMail()">Send</button>
    </div>
</ng-template>
